/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --bg-color-primary: #fff;
  --clr-primary: #9c5ce0;
  --clr-header: #fbf8ee;
  --clr-secondary: #ff943d;
  /* --clr-tertiary: #e05385; */
  --clr-blue: #70a1cf;
  --clr-yellow: #f5c771;
  --clr-black: #222;
  --clr-white: #fff;

  --clr-toggle: #000;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --transition: all 0.2s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
.light-theme {
  --bg-color-primary: #fff;
  --clr-secondary: #737373;
  --clr-tertiary: #ffffff;
  --clr-blue: #70a1cf;
  --clr-yellow: #f5c771;
  --clr-black: #222;
  --clr-toggle: #292929;
  --clr-primary: #ec4c3b;
}
.dark-theme {
  --bg-color-primary: #202c73;
  --clr-primary: #7c8cf2;
  --clr-secondary: #ffa7c4;
  --clr-tertiary: #7c8cf2;
  --clr-blue: #ff943d;
  --clr-yellow: #7c8cf2;
  --clr-toggle: #fff;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Lato", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: var(--bg-color-primary);
  /* background: linear-gradient(
      0deg,
      var(--bg-color-primary),
      var(--bg-color-primary)
    ),
    url(./assets/back-img.jpg); */

  min-height: 100vh;
  transition: all 0.3s linear;
}

::placeholder {
  /* modern browser */
  font-family: -apple-system, BlinkMacSystemFont, "Lato", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #0f0f0f;
}
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  color: #000000;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-toggle);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.m-sm-y {
  margin: 1rem 0;
}
.m-m-y {
  margin: 1.5rem 0;
}
.m-l-y {
  margin: 2rem 0;
}
.bg-blue {
  background-color: var(--clr-blue);
}
.bg-yellow {
  background-color: var(--clr-yellow);
}

.btn {
  padding: 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  color: var(--clr-toggle);
}
.btn-primary {
  background-color: var(--clr-primary);
  text-transform: uppercase;
  color: var(--clr-white);

}
.btn-secondary {
  background-color: var(--clr-tertiary);
  text-transform: uppercase;
  border: 1px solid #888;
}
.btn-tertiary {
  background-color: transparent;
   color: var(--clr-tertiary);


  /* hover{
    text-decoration: underline;
    transition: all 0.3s;
  } */
 
}
/* section */
.section {
  padding: 5rem 0;
}
